aiohttp==3.7.4
bs4==0.0.1
envparse==0.2.0
loguru==0.5.3
lxml==4.6.3
pdf2image==1.14.0
ujson==4.0.1
https://github.com/timoniq/vkbottle/archive/master.zip
https://github.com/timoniq/vkbottle-types/archive/master.zip
